@*@model IEnumerable<FuelInfoViewModel>*@
@model FuelInfoViewModel
@{
    ViewData["Title"] = "Fuel";
    var today = DateTime.Now.ToString("dd-MM-yyyy");
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <div>
            <a asp-controller="Car" asp-action="Details" asp-route-id="@TempData["CarId"]" class="btn btn-warning"><i class="fas fa-plus"></i>Back</a>
            <a asp-controller="Fuel" asp-action="Add" asp-route-id="@TempData["CarId"]" class="btn btn-primary"><i class="fas fa-plus"></i>Add Fuel</a>
        </div>
    }
</div>
<hr>
@if (Model.FuelInfos.Count>0)
{
    <div class="row justify-content-center">
    <div class="col-md-4 text-left" style="margin-top: 20px">
        <form method="get">
        <table @*border="1"*@>
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            <thead>
            <tbody>
                <tr>
                    <th><input type="date" class="form-control" id="@Model.StartDate" name="startDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" /></th>
                    <th><input type="date" class="form-control" id="@Model.EndDate" name="endDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" /></th>
                </tr>
                <th></th>
                <th style="padding-block: 10px;"><button type="submit" a-right>Filter</button></th>
                <tr>
                    <th><p class="card-text"><small class="text-muted"><b>Fuel total: </b></small></th>
                    <th><p class="card-text"><small class="text-muted">@Model.TotalFuelQtyForPeriod.ToString("# ###")</small></p></th>
                </tr>
                <tr>
                    <th><p class="card-text"><small class="text-muted"><b>Expenses total: </b></small></th>
                    <th><p class="card-text"><small class="text-muted">@Model.TotalFuelExpensesForPeriod.ToString("# ###")</small></p></th>
                </tr>
                <tr>
                    <th><p class="card-text"><small class="text-muted"><b>Price Avg.: </b></small></th>
                    <th><p class="card-text"><small class="text-muted">@Model.AveragePrice</small></p></th>
                </tr>
                <tr>
                    <th><p></p></th>
                </tr>
                <tr>
                    <th><p class="card-text"><small class="text-muted"><b>Kilometrage End: </b></small></th>
                    <th><p class="card-text"><small class="text-muted">@Model.KilometrageLast.ToString("# ###")</small></p></th>
                </tr>
                <tr>
                    <th><p class="card-text"><small class="text-muted"><b>Kilometrage Start: </b></small></th>
                    <th><p class="card-text"><small class="text-muted">@Model.KilometrageFirst.ToString("# ###")</small></p></th>
                </tr>
                <tr>
                    <th><p class="card-text"><small class="text-muted"><b>Distance: </b></small></th>
                    <th><p class="card-text"><small class="text-muted">@Model.Distance.ToString("# ###")</small></p></th>
                </tr>
                <tr>
                    <th><p class="card-text"><small class="text-muted"><b>Fuel Consumption: </b></small></th>
                    <th><p class="card-text"><small class="text-muted">@Model.FuelConsumption.ToString("# ###")</small></p></th>
                </tr>
                <tr>
                    <th><p class="card-text"><small class="text-muted"><b>Fuel Consumption Avg.: </b></small></th>
                    <th><p class="card-text"><small class="text-muted">@Model.FuelConsumptionAvarage</small></p></th>
                </tr>
             </tbody>
        </table>
        </form>
    </div>
    <div class="col-md-8" text-left>
        <p> </p>
        <table>
            <thead>
                <tr>
                    <th>Date Time </th>
                    <th>Gas Station </th>
                    <th>City </th>
                    <th>Volume </th>
                    <th>Gas Type </th>
                    <th>Price Per Liter </th>
                    <th>Price Fuel Total </th>
                    <th>Kilometrage </th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var fuel in Model)*@
                @for (int i = 0; i < Model.FuelInfos.Count; i++)
                {
                    var expense = Model.FuelInfos[i];
                    var rowClass = i % 2 == 0 ? "even-row" : "odd-row";
                    <tr class="@rowClass">
                        <td><small class="text-muted" style="padding-right: 6px">@expense.Date</small></td>
                        <td><small class="text-muted" style="padding-right: 6px; display: grid; justify-content: center" >@expense.GasStation</small></td>
                        <td><small class="text-muted" style="padding-right: 6px">@expense.City</small></td>
                        <td><small class="text-muted" style="padding-right: 6px; display: grid; justify-content: center" >@expense.Volume</small></td>
                        <td><small class="text-muted" style="padding-right: 6px">@expense.GasType</small></td>
                        <td><small class="text-muted" style="padding-right: 6px; display: grid; justify-content: center" >@expense.PricePerLiter</small></td>
                        <td><small class="text-muted" style="padding-right: 6px; display: grid; justify-content: center" >@expense.PriceTotalFuel</small></td>
                            @if (expense.FullTank == true)
                            {
                                <td><small class="text-muted" style="padding-right: 6px; display: grid; justify-content: center; background-color: lightgreen">@expense.KilometrageActual.ToString("# ###")</small></td>
                            }
                            else
                            {
                                <td><small class="text-muted" style="padding-right: 6px; display: grid; justify-content: center; background-color: lightyellow">@expense.KilometrageActual.ToString("# ###")</small></td>
                            }
 
                         <td>                       
                            <a asp-controller="Fuel" asp-action="Edit" asp-route-id="@expense.Id" class="btn btn-primary">Edit</a>
                        </td>
 
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}


