@using CarsNotes.Web.Models
@model CarViewModel


<div class="row justify-content-center" style="margin: 0 auto; max-width: 900px;">
    <div class="col-md-4">
        <div class="mb-12 d-flex align-items-center">
            <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
                <label asp-for="@Model.ShortName" class="form-label-add-edit">Short Name</label>
                <input asp-for="@Model.ShortName" class="form-control" aria-required="true" placeholder="Mandatory field" />
                <span asp-validation-for="@Model.ShortName" class="text-danger"></span>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.MainImageUrl))
        {
            <img src="@Model.MainImageUrl" class="img-fluid" style="margin-top: 26px; max-width: 100%; height: auto; background-color: #fdf3e6; border-color: #fdf3e6;" alt="@Model.ShortName" />
        }
        else
        {
            <img src="~/CarsNotesLogo.png" class="img-fluid" style="margin-top: 26px; max-width: 100%; height: auto;" alt="No Image Available" />
        }
        <p></p>
        <div class="col-md-12 mb-4">
            <div class="card-group d-flex" style="margin-top: 16px">
                <div class="col-sm-12">
                    <label asp-for="@Model.AdditionalDetails" class="form-label-add-edit">Additional Details</label>
                    <textarea rows="6" asp-for="@Model.AdditionalDetails" class="form-control" aria-required="false" placeholder="Enter Additional Detail (optional)"></textarea>
                    <span asp-validation-for="@Model.AdditionalDetails" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8" text-left>
        <div class="mb-12 d-flex align-items-center">
            <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
                <label asp-for="@Model.Brand" class="form-label-add-edit">Brand</label>
                <input asp-for="@Model.Brand" class="form-control" aria-required="false" placeholder="Mandatory field" />
                <span asp-validation-for="@Model.Brand" class="text-danger"></span>
            </div>
            <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
                <label asp-for="@Model.CarModel" class="form-label-add-edit">Model</label>
                <input asp-for="@Model.CarModel" class="form-control" aria-required="false" placeholder="Mandatory field" />
                <span asp-validation-for="@Model.CarModel" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-12 d-flex align-items-center">
            <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
                <label asp-for="@Model.RegistrationNumber" class="form-label-add-edit">Registration Number</label>
                <input asp-for="@Model.RegistrationNumber" class="form-control" aria-required="true" placeholder="Enter Registration Number (optional)" />
            </div>
            <div class="col-sm-6" style="padding-right: 10px;">
                <label asp-for="@Model.FuelType" class="form-label-add-edit">Fuel Type</label>
                <input asp-for="@Model.FuelType" class="form-control" aria-required="false" placeholder="Enter Fuel Type (optional)" />
            </div>
        </div>
        <div class="mb-2">
            <label asp-for="@Model.MainImageUrl" class="form-label-add-edit">Image URL</label>
            <input asp-for="@Model.MainImageUrl" class="form-control" aria-required="false" placeholder="Enter the URL of your vehicle image (optional)" />
            <span asp-validation-for="@Model.MainImageUrl" class="text-danger"></span>
        </div>
        <div class="mb-12 d-flex align-items-center">
            <div class="col-sm-4" style="padding-right: 4px; margin-right: 4px;">
                <label asp-for="@Model.CubicCapacity" class="form-label-add-edit">Cubic Capacity</label>
                <input asp-for="@Model.CubicCapacity" class="form-control" aria-required="false" placeholder="Enter Engine Cubic Capacity (optional)" />
            </div>
            <div class="col-sm-4" style="padding-right: 4px; margin-right: 4px;">
                <label asp-for="@Model.HorsePower" class="form-label-add-edit">Horse Power</label>
                <input asp-for="@Model.HorsePower" class="form-control" aria-required="false"  />
            </div>
            <div class="col-sm-4" style="padding-right: 4px; margin-right: 4px;">
                <label asp-for="@Model.DoorsNumber" class="form-label-add-edit">Doors</label>
                <input asp-for="@Model.DoorsNumber" class="form-control" aria-required="false" />
            </div>
        </div>
        <div class="mb-12 d-flex align-items-center">
            <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
                <div class="mb-2">
                    <label asp-for="@Model.BodyType" class="form-label-add-edit">Body Type</label>
                    <input asp-for="@Model.BodyType" class="form-control" aria-required="false" placeholder="Enter BodyType (optional)" />
                </div>
            </div>
            <div class="col-sm-6" style="padding-right: 10px;">
                <div class="mb-2">
                    <label asp-for="@Model.CountryProduction" class="form-label-add-edit">Country Production</label>
                    <input asp-for="@Model.CountryProduction" class="form-control" aria-required="false" placeholder="Enter Country of Production (optional)" />
                </div>
            </div>
        </div>
        <div class="mb-12 d-flex align-items-center">
            <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
                <label asp-for="@Model.KilometrageAcquisition" class="form-label-add-edit">Kilometrage Acquisition</label>
                <input asp-for="@Model.KilometrageAcquisition" class="form-control" aria-required="false" />
            </div>
            <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
                <label asp-for="@Model.KilometrageActual" class="form-label-add-edit">Kilometrage Actual</label>
                <input asp-for="@Model.KilometrageActual" class="form-control" aria-required="false"  />
            </div>
        </div>
        <div class="mb-12 d-flex align-items-center">
            <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
                <label asp-for="@Model.YearAcquisition" class="form-label-add-edit">Year of Acquisition</label>
                <input asp-for="@Model.YearAcquisition" class="form-control" aria-required="true" placeholder="Enter the Year of Acquisition (optional)" />
            </div>
            <div class="col-sm-6" style="padding-right: 10px;">
                <label asp-for="@Model.YearProduction" class="form-label-add-edit">Year of Production</label>
                <input asp-for="@Model.YearProduction" class="form-control" aria-required="false" placeholder="Enter Year of Production (optional)" />
            </div>
        </div>
        <div class="mb-12 d-flex align-items-center">
            <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
                <div class="mb-2">
                    <label asp-for="@Model.Color" class="form-label-add-edit">Color</label>
                    <input asp-for="@Model.Color" class="form-control" aria-required="false" placeholder="Enter the Color name (optional)" />
                </div>
            </div>
            <div class="col-sm-6" style="padding-right: 10px;">
                <div class="mb-2">
                    <label asp-for="@Model.OriginalColorCode" class="form-label-add-edit">Color Code</label>
                    <input asp-for="@Model.OriginalColorCode" class="form-control" aria-required="false" placeholder="Enter the Color code (optional)" />
                </div>
            </div>
        </div>
        <div class="mb-12 d-flex align-items-center">
            <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
                <div class="mb-2">
                    <label asp-for="@Model.TransmissionType" class="form-label-add-edit">Transmission Type</label>
                    <input asp-for="@Model.TransmissionType" class="form-control" aria-required="false" placeholder="Enter TransmissionType (optional)" />
                </div>
            </div>
            <div class="col-sm-6" style="padding-right: 10px;">
                <div class="mb-2">
                    <label asp-for="@Model.TransmissionNumber" class="form-label-add-edit">Transmission Code</label>
                    <input asp-for="@Model.TransmissionNumber" class="form-control" aria-required="false" placeholder="Enter Transmission Code (optional)" />
                </div>
            </div>
        </div>
        <div class="mb-2">
            <label asp-for="@Model.VINCode" class="form-label-add-edit">VIN Code</label>
            <input asp-for="@Model.VINCode" class="form-control" aria-required="false" placeholder="Enter VIN Code (optional)" />
        </div>
        <div class="mb-2">
            <label asp-for="@Model.ChassisNumber" class="form-label-add-edit">Chassis Code</label>
            <input asp-for="@Model.ChassisNumber" class="form-control" aria-required="false" placeholder="Enter Chassis Code (optional)" />
        </div>
        <div class="mb-2">
            <label asp-for="@Model.EngineNumber" class="form-label-add-edit">Engine Code</label>
            <input asp-for="@Model.EngineNumber" class="form-control" aria-required="false" placeholder="Enter Engine Code (optional)" />
        </div>

    </div>
    <div class="mb-2">
        <input style="margin-top: 16px" class="btn btn-success btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Save"/>
    </div>
</div>