@using CarsNotes.Web.Models
@model PlaceInfoViewModel
@{
    ViewData["Title"] = "Place";
    var today = DateTime.Now.ToString("dd-MM-yyyy");
    bool hasData = Model.PlaceInfos.Count() > 0;
    int count = 1;
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <div>
            <a asp-controller="Car" asp-action="Details" asp-route-id="@TempData.Peek("CarId")" class="btn btn-warning"><i class="fas fa-plus"></i>Back</a>
            <a asp-controller="Place" asp-action="Add" asp-route-id="@TempData.Peek("CarId")" class="btn btn-primary"><i class="fas fa-plus"></i>Add Place</a>
        </div>
    }
</div>
<hr>

<div class="row justify-content-center">
    <div class="col-md-4 text-left" style="margin-top: 20px">
        <form method="get">
            <table>
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <th><input type="date" class="form-control" id="@Model.StartDate" name="startDate" value="@Model.StartDate.Value.ToString("yyyy-MM-dd")" /></th>
                        <th><input type="date" class="form-control" id="@Model.EndDate" name="endDate" value="@Model.EndDate.Value.ToString("yyyy-MM-dd")" /></th>
                    </tr>
                <th></th>
                <th style="padding-block: 10px;"><button type="submit" a-right>Filter</button></th>
                </tbody>
            </table>
        </form>
    </div>

    @if (hasData)
    {
        <div class="col-md-8" text-left>
            <p> </p>
            <table>
                <thead>
                    <tr>
                        <th style="padding-right:10px">Date Time </th>
                        <th style="padding-right:10px">Place Name</th>
                        <th style="padding-right:10px">Latitude </th>
                        <th style="padding-right:10px">Longitude </th>
                        <th style="padding-right:10px">Address</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var expense in Model.PlaceInfos)
                    {
                        var rowClass = count % 2 == 0 ? "even-row" : "odd-row";
                        count++;
                        <tr class="@rowClass">
                            <td><small class="text-muted" style="padding-right: 10px">@expense.Date.ToString("yyyy-MM-dd HH:mm")</small></td>
                            <td><small class="text-muted" style="padding-right: 10px;">@expense.Name</small></td>
                            <td><small class="text-muted" style="padding-right: 10px">@expense.Latitude</small></td>
                            <td><small class="text-muted" style="padding-right: 10px">@expense.Longitude</small></td>
                            <td><small class="text-muted" style="padding-right: 10px; display: grid;">@expense.Address</small></td>
                            <td>
                                <a asp-controller="Place" asp-action="Edit" asp-route-id="@expense.Id" class="btn btn-primary">Edit</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

