@model CareViewModel


<div class="col-sm-6 mb-2">
    <label asp-for="@Model.Date" class="form-label-add-edit">Date</label>
    <input asp-for="@Model.Date" class="form-control" aria-required="true" type="datetime-local" value="@Model.Date.ToString("yyyy-MM-ddTHH:mm")" />
    <span asp-validation-for="@Model.Date" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="@Model.Type" class="form-label-add-edit">Select Type</label>
    <select asp-for="@Model.Type" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.CareInfos, "Id", "Name"))">
        <option value="">Select Type...</option>
    </select>
    <span asp-validation-for="@Model.Type" class="text-danger"></span>
</div>
<div class="mb-2">
    <label asp-for="@Model.TypeDetails" class="form-label-add-edit">Type Details</label>
    <input asp-for="@Model.TypeDetails" class="form-control" aria-required="false" placeholder="Enter TypeDetails" />
    <span asp-validation-for="@Model.TypeDetails" class="text-danger"></span>
</div>
<div class="mb-2 d-flex align-items-center">
    <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
        <label asp-for="@Model.Manifacturer" class="form-label-add-edit">Manifacturer</label>
        <input asp-for="@Model.Manifacturer" class="form-control" aria-required="false" placeholder="Enter Manifacturer" />
        <span asp-validation-for="@Model.Manifacturer" class="text-danger"></span>
    </div>
    <div class="col-sm-6" style="padding-right: 10px;">
        <label asp-for="@Model.AdditionalInfo" class="form-label-add-edit">AdditionalInfo</label>
        <input asp-for="@Model.AdditionalInfo" class="form-control" aria-required="false" placeholder="Enter GaAdditional Info" />
        <span asp-validation-for="@Model.AdditionalInfo" class="text-danger"></span>
    </div>
</div>
<div class="mb-2 d-flex align-items-center">
    <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
            <label asp-for="@Model.BuyedFrom" class="form-label-add-edit">Buyed From</label>
            <input asp-for="@Model.BuyedFrom" class="form-control" aria-required="false" placeholder="Enter Buyed From" />
            <span asp-validation-for="@Model.BuyedFrom" class="text-danger"></span>
    </div>
    <div class="col-sm-6" style="padding-right: 10px;">
            <label asp-for="@Model.Quantity" class="form-label-add-edit">Quantity</label>
            <input asp-for="@Model.Quantity" class="form-control" aria-required="false" placeholder="Enter Quantity" />
            <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
    </div>
</div>
<div class="mb-2 d-flex align-items-center">
    <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
        <label asp-for="@Model.PriceMaterial" class="form-label-add-edit">Price Material</label>
        <input asp-for="@Model.PriceMaterial" class="form-control" aria-required="false" placeholder="Enter Price Material" />
        <span asp-validation-for="@Model.PriceMaterial" class="text-danger"></span>
    </div>
    <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
        <label asp-for="@Model.PriceWork" class="form-label-add-edit">Price Work</label>
        <input asp-for="@Model.PriceWork" class="form-control" aria-required="false" placeholder="Enter Price Work" />
        <span asp-validation-for="@Model.PriceWork" class="text-danger"></span>
    </div>
</div>
<div class="mb-2 d-flex align-items-center">
    <div class="col-sm-6" style="padding-right: 10px; margin-right: 10px;">
        <label asp-for="@Model.PriceTotal" class="form-label-add-edit">Price Total</label>
        <input asp-for="@Model.PriceTotal" class="form-control" aria-required="false" placeholder="Enter Price Total" />
        <span asp-validation-for="@Model.PriceTotal" class="text-danger"></span>
    </div>
    <div class="text-center">
        <label asp-for="@Model.IsPendingCare" class="form-label-add-edit d-block">Still Pending Care</label>
        <input type="checkbox" asp-for="@Model.IsPendingCare" class="form-check-input" aria-required="false" />
        <span asp-validation-for="@Model.IsPendingCare" class="text-danger"></span>
    </div>
</div>
<div class="mb-2">
    <input class="btn btn-success btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Save" />
</div>